.form-control {
  border: 2px solid rgb(59, 54, 54);
}

.gold-effect {
    padding: 20px;
    border-radius: 5px;
    transition: background-color 0.3s; 
  }
  .gold-effect:hover {
    background-color: #ccffcc;
    box-shadow: 0 0 10px #b2e4c1; 
    border: 2px solid #333; 
  }

  .img404 {
  width: 80%;
  height: 60%;
  border-radius: 10px; 
  }
  a {
    color: #d400ff;
    text-decoration: none;
    transition: color 0.2s; 
  }
  a:hover {
    color: #ff0000; 
  }

 
  