.gold-effect {
    padding: 20px;
    border-radius: 5px;
    transition: background-color 0.3s; /* Smooth transition effect */
  }
  
  .gold-effect:hover {
    background-color: #ccffcc; /* Change the background color on hover to a darker gold shade */
    box-shadow: 0 0 10px #000066; /* Add a subtle glow effect */
  }